.kanban-board-header
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: transparent;
  border: none;
  padding-left: 0;
  font-size: 18px;
}

/* Kanban Board */
.board-list {
  @apply flex mt-3 justify-between overflow-auto;
}

.board-list-item {
  @apply bg-white border border-gray-200 overflow-auto rounded-xl p-3 min-w-[350px] max-w-[350px] min-h-[600px] mr-3;
}

.board-list-item h1 {
  @apply text-lg font-semibold mb-3;
}

.board-list-item-data {
  @apply border border-gray-200 rounded-md mb-2 shadow-md bg-white max-h-[450px];
}

.board-list-item-data h1 {
  @apply ml-2 text-base font-normal mt-2;
}

.board-list-item-data-attach img {
  max-width: 90%;
  @apply m-auto rounded-md my-3 object-cover h-[200px];
}

.board-list-item-data-footer {
  @apply border-t p-3 mt-3 flex items-center;
}

.board-footer-item {
  @apply flex items-center text-gray-500 text-sm mr-3;
}

.board-footer-item span {
  @apply mr-1;
}

/* Activities */
.activities {
  @apply w-full max-w-[300px];
}

.activities-list-item {
  @apply mb-3 flex items-start;
}

.activities-list-item-activity p {
  @apply text-[13px] mb-0 font-semibold;
}

.activities-list-item-activity span {
  @apply text-xs text-gray-500;
}

.activities-list-item .description {
  @apply overflow-hidden text-xs text-gray-500 mb-3;
}

/* Todo Modal */
.todo-modal-header {
  @apply flex items-center mr-5;
}

.todo-modal-header h1 {
  @apply flex-1 font-semibold text-lg;
}

.todo-modal-desc {
  @apply text-sm text-gray-600 mt-5;
}

.todo-modal-child-item {
  @apply flex items-center border rounded-md shadow-sm py-1 mb-2 px-3 cursor-pointer;
}

.todo-modal-child-item h1 {
  @apply font-medium flex-1 text-sm text-gray-700 mr-2 truncate;
}

.todo-modal-child-item span {
  @apply mr-2 font-semibold text-gray-500 text-xs;
}

.todo-comments-item {
  @apply flex items-start mb-5;
}

.todo-comments-item-attatchment {
  @apply mr-3 mt-3 cursor-pointer border-gray-300 border-2 rounded-md;
}

.todo-comments-item-attatchment img {
  @apply w-[200px] h-[150px] object-cover  p-1;
}

.todo-comments-item-attatchment span {
  @apply text-sm text-gray-500 ml-1;
}

.todo-comments-controller {
  @apply flex items-center;
}

/* Task Single View */
.task-view {
  @apply flex;
}

.task-view-details {
  @apply w-3/4;
}

.task-view-quick {
  @apply w-1/4;
}

.task-view-header {
  @apply flex items-center;
}

.task-view-comments {
  @apply mb-5;
}

/* Quick Picks */
.quick-picks {
  @apply border bg-white max-h-[600px] h-full ml-3 rounded-md shadow-sm overflow-auto;
}

.quick-picks h1 {
  @apply font-semibold p-3 border-b;
}

.quick-picks-item {
  @apply p-2 cursor-pointer hover:bg-gray-100 border-b;
}

.quick-picks-item-header {
  @apply flex items-center my-2;
}

.quick-picks-item p {
  @apply text-sm text-gray-500;
}
