html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  background-color: #f4f7fd;
}

* {
  font-family: "Fira Sans", sans-serif;
}

#root,
.App {
  height: 100%;
  width: 100%;
}

.form-control {
  margin-bottom: 10px;
}

.app-container {
  max-width: 1200px;
}

/* Page Filter */
.page-filter .ant-input-affix-wrapper {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding-left: 0;
}

.page-filter input {
  background-color: transparent;
}
