html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  background-color: #f4f7fd;
}

* {
  font-family: "Fira Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(133, 133, 133);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#root,
.App {
  height: 100%;
  width: 100%;
}

.form-control {
  margin-bottom: 10px;
}

.app-container {
  max-width: 1200px;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipse-1 {
  -webkit-line-clamp: 1 !important;
}

.page-filter .ant-input-affix-wrapper {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding-left: 0;
}

.page-filter input {
  background-color: transparent;
}
