.login {
  background-color: #eeeeee96;
  background-image: url("https://images.pexels.com/photos/7429470/pexels-photo-7429470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  @apply h-full w-full;
}
.login-brand h1 {
  font-family: "Lobster", cursive;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 26px;
}
.login-wrapper {
  max-width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.login-form {
  border: 1px solid #66666638;
  background: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-signup {
  background: #fff;
  width: 100%;
  border: 1px solid #66666638;
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
