/* Navbar Starts */
.navbar input {
  width: 300px;
}

.navbar-active {
  border-left: 4px solid #ee786c;
  background-color: #1b1e4e;
}

/* Navbar Ends */

/* Sidebar Starts */
.sidebar {
  width: 8%;
  @apply flex flex-col;
}

.default-content {
  width: 92%;
}

.sidebar ul a,
.sidebar-link {
  height: 70px;
  display: flex;
  color: #fff;
  @apply flex flex-col justify-center items-center text-sm cursor-pointer;
}

.sidebar ul a:hover,
.sidebar-link:hover {
  background-color: #1b1e4e;
}

/* Todo Card Starts */
.todo-card {
  box-shadow: 0px ​3px 5px -2px #eee;
}

.loader-gif {
  @apply h-[500px] flex items-center justify-center flex-col;
}

.loader-gif img {
  @apply w-[80px] h-[80px];
}

.no-data {
  @apply flex flex-col justify-center items-center h-[500px];
}

.no-data img {
  @apply w-[150px] h-[150px];
}

.no-data h1 {
  @apply text-center text-lg mt-3 font-semibold text-gray-500;
}

.no-data p {
  @apply max-w-[960px] text-sm text-gray-500 text-center mt-3;
}
